<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo" href="javascript:void(0);">
      <!-- <img
        src="{{ coreConfig.app.appLogoImage }}"
        alt="brand-logo"
        height="28"
      /> -->
      <h2 class="brand-text text-primary ml-1">CMC ATI</h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div
        class="w-100 d-lg-flex align-items-center justify-content-center px-5"
      >
        <!--IMAGE-->
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Đăng ký tài khoản</h2>
        <p class="text-danger" *ngIf="notifiFalse">
          Tài khoản email đã tồn tại
        </p>
        <form
          class="auth-register-form mt-2"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="role" class="form-label">Loại thuê bao</label>
            <div class="">
              <ng-select
                [ngClass]="
                  (f.role.errors && f.role?.touched) ||
                  (submitted && f.role?.errors?.required)
                    ? 'is-invalid'
                    : ''
                "
                [items]="role"
                bindLabel="subscriberName"
                [clearable]="false"
                placeholder="Loại thuê bao"
                tabindex="1"
                (change)="selectSubscriberType($event)"
                aria-describedby="role"
                formControlName="role"
              >
              </ng-select>
            </div>
            <div class="">
              <span
                *ngIf="
                  (f.role.errors && f.role?.touched) ||
                  (submitted && f.role?.errors?.required)
                "
                class="invalid-form"
              >
                <small class="form-text text-danger">
                  Không được bỏ trống</small
                >
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="register-username" class="form-label"
              >Tên tài khoản</label
            >
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="demo"
              aria-describedby="register-username"
              tabindex="2"
              [ngClass]="{
                'is-invalid':
                  f.username.errors && (f.username.touched || submitted)
              }"
            />
            <div
              *ngIf="f.username.errors && (f.username.touched || submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">
                Bạn cần nhập tên tài khoản
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-email" class="form-label"
              >Thư điện tử (Email)</label
            >
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="demo@cmc.com.vn"
              aria-describedby="register-email"
              tabindex="3"
              [ngClass]="{
                'is-invalid': (submitted || f.email.touched) && f.email.errors
              }"
            />
            <div
              *ngIf="(submitted || f.email.touched) && f.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.email.errors.required">
                Bạn cần nhập địa chỉ email
              </div>
              <div *ngIf="f.email.errors.email">Địa chỉ email không hợp lệ</div>
            </div>
          </div>
          <!-- <div class="form-group">
                        <label>Vai trò</label>
                        <ng-select [items]="roles" [clearable]="false" formControlName="role" [ngClass]="{ 'is-invalid': f.role.errors && (f.role.touched || submitted ) }">
                        </ng-select>
                        <div *ngIf="f.role.errors && (f.role.touched || submitted )" class="invalid-feedback">
                            <div *ngIf="f.role.errors.required">Bạn cần chọn vai trò</div>
                        </div>
                    </div> -->
          <div class="form-group">
            <label for="register-password" class="form-label">Mật khẩu</label>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="4"
                [ngClass]="{
                  'is-invalid error':
                    (submitted || f.password.touched) && f.password.errors
                }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="(submitted || f.password.touched) && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{
                'd-block':
                  (submitted || f.password.touched) && f.password.errors
              }"
            >
              <div *ngIf="f.password.errors.required">
                Bạn cần nhập mật khẩu
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-password" class="form-label"
              >Xác nhận mật khẩu</label
            >
            <div class="">
              <input
                [type]="'password'"
                formControlName="confPassword"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="4"
                [ngClass]="{
                  'is-invalid error':
                    (submitted || f.confPassword.dirty) &&
                    f.confPassword.errors,
                  'is-valid':
                    !f.confPassword.errors?.mustMatch && f.confPassword.dirty
                }"
              />
              <div
                *ngIf="
                  (submitted || f.confPassword.dirty) && f.confPassword.errors
                "
                class="invalid-feedback"
                [ngClass]="{
                  'd-block':
                    (submitted || f.confPassword.dirty) && f.confPassword.errors
                }"
              >
                <div *ngIf="f.confPassword.errors.required">
                  Mật khẩu không được trống
                </div>
                <div *ngIf="f.confPassword.errors.mustMatch">
                  Mật khẩu không khớp
                </div>
              </div>
              <div *ngIf="f.confPassword.errors == null" class="valid-feedback">
                Xác nhận mật khẩu đúng
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                type="checkbox"
                id="register-privacy-policy"
                tabindex="5"
                formControlName="agree"
                [ngClass]="{
                  'is-invalid': f.agree.errors && (f.agree.touched || submitted)
                }"
              />
              <label class="custom-control-label" for="register-privacy-policy">
                Tôi đồng ý với
                <a href="javascript:void(0);"
                  >Chính sách bảo mật và điều khoản</a
                >
              </label>
              <div
                *ngIf="f.agree.errors && (f.agree.touched || submitted)"
                class="invalid-feedback"
              >
                <div *ngIf="f.agree.errors.required">
                  Bạn cần đồng ý với Chính sách bảo mật và điều khoản
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary btn-block"
            tabindex="6"
            rippleEffect
            (click)="onSubmit()"
          >
            <swal (open)="confirmOpen()"></swal>
            Đăng ký
          </button>
        </form>
        <p class="text-center mt-2">
          <span>Bạn đã có tài khoản? </span
          ><a routerLink="/pages/authentication/login-v2"
            ><span>&nbsp; Vui lòng đăng nhập</span></a
          >
        </p>
        <div class="divider my-2">
          <div class="divider-text">Hoặc</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"
            ><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"
            ><i data-feather="twitter"></i
          ></a>
          <a class="btn btn-google" href="javascript:void(0)"
            ><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"
            ><i data-feather="github"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>
