<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <section id="home-page">
      <span class="btn-chatbot">
        <div class="page-content page-container" id="page-content">
          <div class="">
            <div class="">
              <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Q&A Food Support</h3>
                </div>
                <div class="box-body">
                  <div class="direct-chat-messages">
                    <ng-container *ngFor="let item of messages; let i = index">
                      <div
                        class="direct-chat-msg right"
                        *ngIf="item.isCustomer; else notIsCustomer"
                      >
                        <!-- [innerHTML]="formatMessage(item.text)" -->
                        <div class="direct-chat-text">
                          {{ item.text }}
                        </div>
                      </div>
                      <ng-template #notIsCustomer>
                        <div class="direct-chat-msg">
                          <div class="direct-chat-info clearfix">
                            <span
                              class="direct-chat-name pull-left text-primary"
                              >Support</span
                            >
                          </div>
                          <img
                            class="direct-chat-img"
                            src="https://freesvg.org/img/1538298822.png"
                            alt="message user image"
                          />
                          <div class="direct-chat-text">
                            <ngb-accordion #acc="ngbAccordion">
                              <ngb-panel>
                                <ng-template ngbPanelTitle>
                                  <span class="lead collapse-title">
                                    {{ item.text }}
                                  </span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div style="background: #272822e5">
                                    <ngx-json-viewer
                                      [json]="item?.data"
                                    ></ngx-json-viewer>
                                  </div>
                                </ng-template> </ngb-panel
                            ></ngb-accordion>
                            <div
                              class="rating rating-sm d-flex w-100 justify-content-end"
                              *ngIf="i != 0"
                            >
                              <ngb-rating
                                [formControl]="ctrl"
                                class="outline-none"
                                [max]="5"
                              ></ngb-rating>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
                <div class="box-footer">
                  <form>
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="newMessage"
                        name="message"
                        placeholder="Type Message ..."
                        class="form-control"
                        (keyup.enter)="sendMessage()"
                      />
                      <span class="input-group-btn">
                        <button
                          type="button"
                          class="btn btn-primary btn-flat"
                          (click)="sendMessage()"
                        >
                          Send
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>
