<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <ejs-pdfviewer
      id="pdfViewer"
      [serviceUrl]="service"
      [enableToolbar]="false"
      [documentPath]="document"
      style="height: 77vh; display: block"
    ></ejs-pdfviewer>
  </div>
</div>
